<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<style>
.r1 {background-color: #272822}
.r2 {color: #ff4689; text-decoration-color: #ff4689; background-color: #272822}
.r3 {color: #f8f8f2; text-decoration-color: #f8f8f2; background-color: #272822}
.r4 {color: #e6db74; text-decoration-color: #e6db74; background-color: #272822}
.r5 {color: #66d9ef; text-decoration-color: #66d9ef; background-color: #272822}
.r6 {color: #ae81ff; text-decoration-color: #ae81ff; background-color: #272822}
.r7 {color: #a6e22e; text-decoration-color: #a6e22e; background-color: #272822}
body {
    color: #000000;
    background-color: #ffffff;
}
</style>
</head>
<body>
    <pre style="font-family:Menlo,'DejaVu Sans Mono',consolas,'Courier New',monospace"><code style="font-family:inherit"><span class="r1">                                                                                            </span>
<span class="r2">import</span><span class="r3"> requests</span><span class="r1">                                                                             </span>
<span class="r1">                                                                                            </span>
<span class="r3">response </span><span class="r2">=</span><span class="r3"> requests</span><span class="r2">.</span><span class="r3">post(</span><span class="r1">                                                                   </span>
<span class="r3">    </span><span class="r4">f&quot;https://api.stability.ai/v2beta/stable-image/generate/sd3&quot;</span><span class="r3">,</span><span class="r1">                           </span>
<span class="r3">    headers</span><span class="r2">=</span><span class="r3">{</span><span class="r1">                                                                               </span>
<span class="r3">        </span><span class="r4">&quot;authorization&quot;</span><span class="r3">: </span><span class="r4">f&quot;Bearer sk-not-gonna-reveal-here-am-i?&quot;</span><span class="r3">,</span><span class="r1">     </span>
<span class="r3">        </span><span class="r4">&quot;accept&quot;</span><span class="r3">: </span><span class="r4">&quot;image/*&quot;</span><span class="r1">                                                                 </span>
<span class="r3">    },</span><span class="r1">                                                                                      </span>
<span class="r3">    files</span><span class="r2">=</span><span class="r3">{</span><span class="r4">&quot;none&quot;</span><span class="r3">: </span><span class="r4">&#x27;&#x27;</span><span class="r3">},</span><span class="r1">                                                                     </span>
<span class="r3">    data</span><span class="r2">=</span><span class="r3">{</span><span class="r1">                                                                                  </span>
<span class="r3">        </span><span class="r4">&quot;prompt&quot;</span><span class="r3">: </span><span class="r4">&quot;Don&#x27;t think of a green elephant&quot;</span><span class="r3">,</span><span class="r1">                                        </span>
<span class="r3">        </span><span class="r4">&quot;output_format&quot;</span><span class="r3">: </span><span class="r4">&quot;png&quot;</span><span class="r3">,</span><span class="r1">                                                             </span>
<span class="r3">    },</span><span class="r1">                                                                                      </span>
<span class="r3">)</span><span class="r1">                                                                                           </span>
<span class="r1">                                                                                            </span>
<span class="r5">if</span><span class="r3"> response</span><span class="r2">.</span><span class="r3">status_code </span><span class="r2">==</span><span class="r3"> </span><span class="r6">200</span><span class="r3">:</span><span class="r1">                                                             </span>
<span class="r3">    </span><span class="r5">with</span><span class="r3"> open(</span><span class="r4">&quot;./don&#x27;t-think-of-a-green-elephant.png&quot;</span><span class="r3">, </span><span class="r4">&#x27;wb&#x27;</span><span class="r3">) </span><span class="r5">as</span><span class="r3"> file:</span><span class="r1">                       </span>
<span class="r3">        file</span><span class="r2">.</span><span class="r3">write(response</span><span class="r2">.</span><span class="r3">content)</span><span class="r1">                                                        </span>
<span class="r5">else</span><span class="r3">:</span><span class="r1">                                                                                       </span>
<span class="r3">    </span><span class="r5">raise</span><span class="r3"> </span><span class="r7">Exception</span><span class="r3">(str(response</span><span class="r2">.</span><span class="r3">json()))</span><span class="r1">                                                   </span>
<span class="r1">                                                                                            </span>
</code></pre>
</body>
</html>
